body {
  color: #ffe4e6;
  color: #ffa1ad;
  color: #bf000a;
  color: #f95f11;
  color: #efb100;
  color: #7ccf00;
  color: #00a63e;
  color: #4b83fb;
  color: #432dd7;
  color: #8200db;
}

/* CURRENT */
body {
  color: #4600e8;  /* Muted Blue */
  color: #256486;  /* Soft Sky Blue */
  color: #2bf2f9;  /* Bright Cyan */
  color: #b5eaf5;  /* Pastel Aqua */
  color: #693421;  /* Mocha Brown */
  color: #ecad32;  /* Warm Gold */
  color: #f8cd83;  /* Light Tan */
  color: #d92517;  /* Tomato Red */
  color: #f2f2f2;  /* Light Gray for contrast */
  color: #41e590;  /* Mint Pastel */
  
  color: #f8e7ca;
}

